[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "src/arma-file-formats-cxx"]
	path = src/arma-file-formats-cxx
	url = https://github.com/arma-tools/arma-file-formats-cxx.git
